@use "../custom" as *;
@use "../components/mixins" as *;

.portfolio {
  padding: 4rem 0;
  button {
    text-transform: capitalize;
  }
}

.portfolio-box {
  border-top: 0.5rem solid $purple-light;
  margin-bottom: 1.2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 18.5rem;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 100%;
  }
  .portfolio-info {
    background-color: rgba($primary, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    .caption {
      color: $white;
      text-align: center;
      @include absoluteCenter;
      h4 {
        text-transform: uppercase;
        display: block;
      }
    }
  }
  &:hover {
    img {
      transform: scale(1.5);
      @include transitionProperty;
    }
    .portfolio-info {
      opacity: 1;
      visibility: visible;
      @include transitionProperty;
    }
  }
}
