@use "../custom" as *;
@use "../components/mixins" as *;

.services {
  position: relative;
  padding: 1rem 0;
  .border-col {
    @include media-breakpoint-up(md) {
      border-right: 1px solid $gray-300;
    }
  }
  .service-container:nth-child(2) {
    flex-direction: column-reverse;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  &__content {
    padding: 1rem;
    margin-top: 0;
    p {
      font-size: 0.8rem;
      @include media-breakpoint-up(lg) {
        font-size: 1rem;
      }
    }
    @include media-breakpoint-up(lg) {
      margin-top: 5rem;
    }
    .icon {
      font-size: 1.5rem;
      color: $primary;
      @include media-breakpoint-up(lg) {
        font-size: 2.5rem;
      }
    }
  }
  &__pic {
    margin: 0 auto;
    max-width: 80%;
    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
      max-width: 90%;
    }
  }
}
